body {
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.tv {
    position: relative;
    top: -300px;
}
.screen {
    margin-top: 30px;
    overflow: hidden;
    display: flex;
    justify-content: center ;
    align-items: flex-end;
    width: 375px;
    height: 280px;
    flex-direction: column;
    background: white;
    border-radius: 10px;

    
}
.josh-talk {
    position: relative;
    top: -160px;
    left: -115px;
    animation-name: talk;
    animation-duration: 530s;
    z-index: -30;
}  


   
.run-josh {
    position: relative;
    z-index: 3;
    left: 1000px;
    top: 110px;
    animation-name: moving;
    animation-duration: 3s;
    animation-timing-function: linear;
    animation-iteration-count: initial;
}
@keyframes moving{
    0% {
        left: -500px;
    }
    
    100% {
        left: -150px;
    }

}
.back {
    width: 60px;
    height: 30px;
    margin-top: 30px;
    border: 1px solid white;
    background: none;
    color: white;
    position: relative;
    top: -30px;

}
.back:hover {
    background: white;
    color: black;

}
.text {
    position: relative;
    top: 130px;
    margin: 2em;
    display: flex;
    width: 300px;
    font-family: 'Barlow Semi Condensed', sans-serif;
    color: white;
    animation-name: cloud;
    animation-duration: 550s;
    background-color: black;
    z-index: -50;
    text-align: center;
    border-radius: 10px;
  
    
}
@keyframes cloud {
    0% {
        z-index: -50;
    }
    1.85%, 100% {
        z-index: 50;
    }
}
.text::after {
    content: "";
    display: block;
    position: absolute;
    bottom: -30px;
    border-top: 15px solid black;
    border-right: 15px solid white;
    border-bottom: 15px solid white;
    border-left: 15px solid white;
    left: 110px;
}


p {
    margin: 1em;
    font-family: 'Barlow Semi Condensed', sans-serif;
}
.botonera {
    display: flex;
    justify-content: center;
    margin-top: 1em
}
.go {
    position: relative;
    z-index: -10;
    right: 10px;
    animation-name: go;
    animation-duration: 550s;
    animation-iteration-count: unset;
    width: 100px;
    height: 60px;
    margin-top: 30px;
    border: 4px solid red;
    background-color: black;
    color: white;
    border-radius: 10px;
    position: relative;
    font-size: 18px;
    cursor: pointer; 
    font-family: 'Barlow Semi Condensed', sans-serif;
    outline: none;

}
@keyframes talk {
    0% { 
        z-index: -30;
    }
    1.9%, 100% {
        z-index: 30;
    }
}


@keyframes go {
    0% {
        z-index: -10;
    }
    6%, 100% {
        z-index: 60;
    }

    
}

.go:hover {
    border: 4px solid yellow;
}
@media only screen and (max-width: 500px)  {
    .screen {
        height: 300px;
    }
}